.item-wrapper {
  border-radius: 35px;
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow: 19px 19px 33px #cccccc, -19px -19px 33px #ffffff;
}

.item-inner-wrapper {
  padding: 25px;
}

.item-image-wrapper {
  position: relative;
}

.item-no-favorite {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 1.5rem;
  color: #007bff;
}

.item-favorite {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 1.5rem;
  color: #333;
}

.item-no-favorite,
.item-favorite{
  cursor: pointer;
}

.full-height {
  height: 100%;
}

.item-user-rating {
  height: 1rem;
  margin-left: 0;
}

.progress-bar{
  background-color: #444;
}

.progress.item-user-rating{
  background-color: #fff;
  box-shadow:  5px 5px 10px #d9d9d9, 
  -5px -5px 10px #ffffff;
}

@media screen and (min-width:576px) {
  .item-user-rating {
      height: 1.875rem;
      width: 50%;
      margin-left: 15px;
  }
}

.item-full-price {
  color: #888;
}

.item-description {
  font-weight: 700;
}

.item-price {
  font-size: 1.3rem;
  font-weight: 600;
}

.no-stock{
  color:red;
}

                  /* Buttons */
.btn-full-width {
  width: 100%;
}

.btn-add-chart{
  border-radius: 5px;
  box-shadow:  5px 5px 10px #d9d9d9, 
  -5px -5px 10px #ffffff;
  color: #fff;  
  background: #444; 
}

.btn-add-favorites{
  border-radius: 5px;
  background: #ffffff;
  box-shadow:  5px 5px 10px #d9d9d9, 
  -5px -5px 10px #ffffff;
}

.btn-add-chart:hover,
.btn-add-chart:focus{
  color: #888;
  box-shadow: inset 9px 9px 18px #292929, 
  inset -9px -9px 18px #5f5f5f;
}

.btn-add-favorites:hover,
.btn-add-favorites:focus{
  box-shadow: inset 5px 5px 10px #d9d9d9, 
  inset -5px -5px 10px #ffffff;
}

.btn-erase{
  background: #ffc107;
  box-shadow:  5px 5px 10px #d9d9d9, 
              -5px -5px 10px #ffffff;
}

.btn-erase:hover,
.btn-erase:focus{
  box-shadow: inset 9px 9px 18px #e6ae06, 
  inset -9px -9px 18px #ffd408;
}

.form-error-message{
  border: 1px solid red;
}

.form-error-message:focus{
  border: 1px solid red; 
}