/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ item list  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.item-wrapper {
  border-radius: 35px;
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow: 19px 19px 33px #cccccc, -19px -19px 33px #ffffff;
}

.item-inner-wrapper {
  padding: 25px;
}

.item-image-wrapper {
  position: relative;
}

.item-no-favorite {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 1.5rem;
  color: #333;
}

.item-favorite {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 1.5rem;
  color: #007bff;
}

.btn-full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.item-user-rating {
  height: 1rem;
  margin-left: 0;
}

@media screen and (min-width:576px) {
  .item-user-rating {
      height: 1.5rem;
      width: 50%;
      margin-left: 15px;
  }
}

.item-full-price {
  color: #888;
}

.item-description {
  font-weight: 700;
}

.item-price {
  font-size: 1.3rem;
  font-weight: 600;
}

.no-stock{
  color:red;
}